body{
    background-color: #E9FAFD;
    font-family: roboto;
    color: #2A4652;
}

#menu-toggle:checked ~ .dropdown{
    display: flex;
}

.custombg {
    background-image: url('/images/careers/bg.png');
    background-size: cover;
    background-position: center;
}