body{
    background-color: #E9FAFD;
    font-family: roboto;
    color: #2A4652;
    font-weight: bold;
}

.custom-bg {
    background-image: url('/images/homepage/bg.png');
    background-size: cover;
    background-position: center;
}